<section>
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <!-- TASK PROGRESS-->
                        <div class="task-progress">
                            <h3 class="title-3">task progress</h3>
                            <div class="au-skill-container">
                                <div class="au-progress">
                                    <span class="au-progress__title">Web Design</span>
                                    <div class="progress">
                                            <!-- [style.with]="porsentaje + '%'" style="width: 75%"
                                                style="width: 75%" se elimina y se deja [style.with]="porsentaje"
                                                que ara la funcion dinamicamente de  style="width: 75%"
                                            -->
                                        <div class="progress-bar progress-bar-striped progress-bar-animated"
                                            role="progressbar"
                                            attr.aria-valuenow="{{porcentaje1}}"
                                            aria-valuemin="0"
                                            aria-valuemax="100"
                                            [style.width]="porcentaje1+'%'" >
                                        </div>
                                    </div>
                                    <br>
                                    <!-- (cambioValor)="porcentaje1=$event"  recive el evento llamados cambioValor desde
                                        el componente hijo
                                    -->
                                    <app-incrementador (cambioValor)="porcentaje1=$event"  [porcentaje]="porcentaje1"></app-incrementador>
                                </div>
                                <div class="au-progress">
                                    <span class="au-progress__title">HTML5/CSS3</span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated"
                                            role="progressbar"
                                            attr.aria-valuenow="{{porcentaje2}}"
                                            aria-valuemin="0"
                                            aria-valuemax="100"
                                            [style.width]="porcentaje2+'%'">
                                        </div>
                                    </div>
                                    <br>
                                    <!-- (cambioValor)="porcentaj2e=$event"  recive el evento llamados cambioValor desde
                                        el componente hijo
                                    -->
                                    <app-incrementador (cambioValor)="porcentaje2=$event" [porcentaje]="porcentaje2"></app-incrementador>
                                </div>
                                <div class="au-progress">
                                    <span class="au-progress__title">WordPress</span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                                    </div>
                                </div>
                                <div class="au-progress">
                                    <span class="au-progress__title">Support</span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END TASK PROGRESS-->
                    </div>
                </div>
            </div>
        </div>
</section>